.container{
    background-color: var(--color-grey-1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 95%;
    min-height: 85vh;
    margin-top: 6rem;
    max-width: 900px;
    
}

.sidebar{
    background-color: transparent;
    margin-right: 2rem;
    flex: 1.25;
}

.main{
    /* border: 2px solid blue; */
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-left: 2rem;
    padding: 2.25rem 3.5rem;
    flex: 3;
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    font-weight: lighter;
}

.heading{
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #333;
}

.main hr{
    margin: 1.5rem 0;
    margin-bottom: 2rem;
    background-color: red;
    height: 1px;
}