.container{
    padding: 0rem;
    border: 1px solid #bbb;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}


.link{
    display: flex;
    flex-direction: row;
}

.link{
    text-transform: capitalize;
    padding: 2.2rem 2rem;
    border-bottom: 1px solid #bbb;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 400;
}

.link i{
    color: red;
    font-size: 3rem;
}

.container a:last-child {
    border-bottom: none;
}

